# https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything
*
# But descend into directories
!*/
# Un-ignore specific files under subtree
!R/**
!Code/**
## Recursively allow files under subtree
#!/data/**
## but not these files
!.gitignore
!DESCRIPTION
!*.rmd
!*.md
data-raw/
# https://stackoverflow.com/questions/44568184/gitignore-everything-except-a-subfolder-with-every-content
.Rproj.user
.Rhistory
.RData
.Ruserdata
